.container {
    padding: 2em;
    #list {
        padding: 1em;
        display: block;
        background: #fff;
        margin-bottom: 10px;
    }
    button {
        margin-bottom: 20px;
        padding: 10px;
    }
}